container_root/colcon_ws/build/
container_root/colcon_ws/install/
container_root/colcon_ws/log/
container_root/colcon_ws/src/
container_root/.cache/
container_root/.cache/
container_root/.config/
container_root/.dotnet/
container_root/.local/
container_root/.pki/
container_root/.ros/
container_root/.rviz2/
container_root/.viminfo/
container_root/.bash_history/
container_root/.cmake
**.vscode**
showgit.py
!colcon_ws/.vscode
orb_slam3_ros2_wrapper/config
**rosbag**
**hotspot**
container_root/Normal.bag
container_root/Simple.bag
container_root/Normal_ROS2_bag/**
container_root/Simple_ROS2_bag/**
container_root/hotspot/**
container_root/.debug
container_root/profilers/**
**perf**
**.osa**
