[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/suchetanrs/ORB_SLAM3
[submodule "traversability_mapping"]
	path = traversability_mapping
	url = https://github.com/suchetanrs/traversability_mapping
