name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Update submodules
      run: git submodule update --init --recursive --remote && git submodule update
    - name: Build the Docker image
      run: sudo docker build -t orb-slam3-humble:22.04 .
